################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CodeBehind/.vs
/CodeBehind/CodeBehind.TiroCurto.AutoMapper/bin/Debug/netcoreapp3.1
/CodeBehind/CodeBehind.TiroCurto.AutoMapper/obj
